<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DataBaseExample2</display-name>
  <welcome-file-list>
    <welcome-file>index1.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>s1</servlet-name>
    <servlet-class>mypack.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/addServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s2</servlet-name>
    <servlet-class>mypack.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s3</servlet-name>
    <servlet-class>mypack.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s3</servlet-name>
    <url-pattern>/showServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s4</servlet-name>
    <servlet-class>mypack.StoreRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s4</servlet-name>
    <url-pattern>/storeRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s5</servlet-name>
    <servlet-class>mypack.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s5</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s6</servlet-name>
    <servlet-class>mypack.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s6</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>